/***
Joshua Silverio Lexi Garrabrant
CSc 337
Final Project
Description: CSS code for webpage cheftype.html that holds all the styles for
the game.
***/
body{
  background-color: rgb(78, 75, 78);
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 12pt;
  color: white;
}
#typing input{
  width: 350px;
  height: 30px;
  font-size: 22pt;
}
#highscores{
  font-size: 12pt;
  border: dashed 3px yellow;
  padding: 3px;
  margin-right: 10px;
  margin: auto;
}
#loginclick{
  width: auto;
  transition: opacity 3s;
  height: auto;
  margin-top: 20px;
}
#login input,#loginclick input{
  background-color: lightgrey;
  border: 0px;
  border-bottom: solid 2px darkgrey;
}
#login{
  opacity: 0;
  width: 0;
  height: 0;
}
button{
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(105, 167, 173);
}
#container,#typing{
  margin-left: auto;
  margin-right: auto;
}
.hidden{
  visibility: hidden;
  width: 0px;
}
#sound,#sounddiv p{
  margin: 5px;
  font-size: 4pt;
}
h1{
  font-size: 56pt;
}
h2{
  font-size: 18pt;
}
canvas,#typing input{
  background-color: rgb(78, 75, 78);
}
#typing{
  text-align: center;
}
#loginbar{
  transition: opacity 1s;
}
#stats {
  margin-left: 10pt;
}
#sounddiv{
  float: left;
}
canvas,#typing input,#highscores,button{
  color: white;
}
#playfieldcontainer, #top,#container,#login,#loginclick,#stats,#sounddiv{
  display: flex;
}
#playfieldcontainer, #top,#login,#loginclick,#stats,#sounddiv{
  flex-direction: column;
}
#playfieldcontainer, #top{
  align-items: flex-start;
}
