/***
chatit.css file that holds all css elemnts for chatit.html in order to style it.
Joshua Silverio
HW7 CSc337
***/
body{
  background-color: rgb(78, 75, 78);
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 12pt;
  color: white;
}
h1{
  font-size: 56pt;
}
h2{
  font-size: 18pt;
}
canvas,#typing input{
  background-color: rgb(78, 75, 78);
  color: white;
}

#playfieldcontainer, #top{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#typing input{
  width: 350px;
  height: 30px;
  font-size: 22pt;
}
#typing{
  text-align: center;
}
#container,#typing{
  margin-left: auto;
  margin-right: auto;
}
#container{
  display: flex;
}
button{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(105, 167, 173);
}
#loginbar{
  transition: opacity 1s;
}
#login{
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 0;
  height: 0;
}
#loginclick{
  display: flex;
  flex-direction: column;
  width: auto;
  transition: opacity 3s;
  height: auto;
  margin-top: 20px;
}
#login input,#loginclick input{
  background-color: lightgrey;
  border: 0px;
  border-bottom: solid 2px darkgrey;
}
#stats {
  display: flex;
  flex-direction: column;
  margin-left: 10pt;
}
.hidden{
  visibility: hidden;
  width: 0px;
}
#sounddiv{
  display: flex;
  flex-direction: column;
  float: left;
}
#sound,#sounddiv p{
  margin: 5px;
  font-size: 4pt;
}
#highscores{
  color: white;
  font-size: 12pt;
  border: dashed 3px yellow;
  padding: 3px;
  margin-right: 10px;
  margin: auto;

}
#userword{
  disabled = disabled;
}
